:root {
  --black: #000;
  --primary-color: #827397;
  --secondary-color: #d8b9c3;
  --font-family: "Maven Pro";
  --visited-link-color: #301934;
  --active-link-color: #4d4c7d;
  --button-color: white;
  --grid-background-color: #f9f9f9;
  --grid-shadow-color: #d3d3d3;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family), open-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 24px;
}

a {
  color: var(--primary-color);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--primary-color);
}

a:active {
  color: var(active-link-color);
}

button,
.button {
  border: none;
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--button-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  color: var(--button-color);
  box-shadow: 10px 5px 5px #464646;
}

.navigation-list {
  list-style-type: none;
  padding: 55px;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  width: 250px;
  height: auto;
  border-radius: 5%;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.hamburger:hover,
.hamburger:focus {
  box-shadow: none;
  outline: none;
}

.hamburger-menu {
  width: 30px;
  height: 3px;
  background-color: #827397;
  margin: 6px 0;
}

@media screen and (max-width: 767px) {
  img.page-header__item {
    width: 200px;
    height: 200px;
    margin-left: 30%;
  }

  .navigation-list {
    display: none;
    flex-direction: column;
  }

  .navigation-list.show {
    display: flex;
  }

  .hamburger {
    display: block;
    margin-left: 80%;
  }
}

.about-me-text {
  margin: auto 10% 30px;
  text-align: left;
}

.project-title {
  text-align: center;
  font-size: 22px;
}

/* Grid fallback */

/* grid */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: var(--grid-background-color);
  width: auto;
  border-radius: 20px;
  box-shadow: 10px 5px 5px var(--grid-shadow-color);
  position: relative;
}

.grid__item:last-child {
  grid-column: auto / auto;
  grid-row: auto / auto;
}

.grid__item--links {
  position: absolute;
  bottom: 0;
  margin-left: 3.5%;
}

.grid__item--links > a {
  text-decoration: none;
  margin-left: 7px;
}

.grid__item > p,
.grid__item > h3 {
  margin-left: 5%;
  margin-right: 5%;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
}

/* end grid */

.movie-img,
.quiz-img,
.todo-img,
.meet-img,
.irish-whistle-img {
  width: 80%;
  margin-left: 10%;
}

.chat-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projectlist__title {
  text-align: center;
  font-size: 24px;
}

.skills-title {
  font-weight: bold;
}

.case-study-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 80%;
}

.casestudy__section {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  width: auto;
  border-radius: 20px;
  -webkit-box-shadow: 10px 5px 5px #d3d3d3;
  box-shadow: 10px 5px 5px #d3d3d3;
  margin: 10%;
  margin-top: 10%;
  margin-top: 0;
}

.about__section {
  text-align: center;
}

.about__table {
  margin-left: auto;
  margin-right: auto;
}

.about-me-text {
  margin: auto 30% 30px;
  text-align: left;
}

.contact__section {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 20px;
  -webkit-box-shadow: 10px 5px 5px #d3d3d3;
  box-shadow: 10px 5px 5px #d3d3d3;
  width: 300px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.inputs,
.input-message {
  width: 50%;
  padding: 12px 20px;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type="submit"] {
  margin-top: 10px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}
